<nav class="nav">
  <div>
    <h1>Inventory Management</h1>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/items">Items</a></li>
    <li><a href="/categories">Categories</a></li>
  </ul>
</nav>
